<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/new.css" />
    <title>Document</title>
</head>
<body>
    <div class="section"> 
    <div class="spacer layer1">  </div>
    <h1>Add new book</h1>
    <form action="/new" method="post">
        <p>Book name: </p>
        <input type="text" name="name">
         
        <p>Notes:</p>
        <textarea name="notes" rows="10" cols="50"></textarea>


        <p>Rating:</p>
        <input type="text" placeholder="out of 5" name="rating">

      
    <button type="submit">Add</button>
    </form>

</div>
</body>
</html>